#box {
    flex: 1 1 100%;
    .desc {
        position: relative;
        top: 52px;
        background: url("https://images.pexels.com/photos/769289/pexels-photo-769289.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=510&w=1000");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        height: 200px;
        color: white;
        h2 {
            margin: 0;
            z-index: 10;
            position: relative;
            text-align: center;
            top: 50px;
        }
    }
    .desc:before {
        content: '';
        position: absolute;
        background-image: linear-gradient(to bottom right,#413C35,#413C35);
        top: 0px;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: .6;
        max-height: 200px;
    }
    .new-recipe {
        position: fixed;
        bottom: 30px;
        right: 20px;
        
        button {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: #93C461;
            border: 0;
            cursor: pointer;
            i {
                color: white;
            }
        }
    }
}