#recipes {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    font-family: 'Josefin Sans';
    font-weight: 300;
    font-size: 20px;
    margin: 5%;
    .recipe {
        flex: 0 1 34%;
        margin-top: 20px;
        .recipe-title {
            h3 {
                text-align: center;
            }
        }
        .recipe-image {
            .thumbnail {
                width: 100%;
            }
        }
        .recipe-description {
            font-style: italic;
        }
        .recipe-button {
           
            
            .edit {
                background: #93C461;
                
            }
            .delete {
                background: #C33F3F;
            }
        }
        summary {
            background: #ffffff; /* Old browsers */
            background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 50%, #ededed 51%, #ffffff 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #ffffff 0%,#f3f3f3 50%,#ededed 51%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
            height: 40px;
            cursor: pointer;
        }
        summary:focus{
            outline: none;
        }
        ol {
            li {
                margin: 5px 0;
            }
        }
    }
    

}
.btn {
    width: 100px;
    height: 35px;
    color: white;
    border-radius: 12px;
    cursor: pointer;
    border: 0;
    transition: all 0.5s;
    margin: 0 10px;
}
.btn:focus{
    outline: none;
}
.btn:hover {
    background: #333 !important;
}

@media (max-width: 480px){
    #recipes {
        .recipe {
            flex: 1 1 100%;
        }
    }
}