.modal {
    z-index: 10000;
    display: none;
    background-image: url("../../assets/pexels-photo-349609.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: auto;
    input {
        box-shadow: 3px 3px 55px -5px rgba(0, 0, 0, 0.75);
        font-family: 'Josefin Sans';
        padding-left: 10px;
    }
    h2 {
        margin-top: 5%;
        text-align: center;
    }
    h2,
    h3 {
        font-family: 'Lobster', cursive;
    }
    .modal-buttons {
        display: flex;
        justify-content: flex-end;
        margin: 2%;
        .btn {
            margin: 8px;
            border: 0;
        }
        .modal-save {
            background: #93C461;
        }
        .modal-clear {
            background: #C33F3F;
        }
        .close {
            background: #223;
        }
    }
    .modal-content {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        .edit-details {
            label {
                display: flex;
                justify-content: space-between;
                font-weight: 400;
                margin: 2%;
                input {
                    align-self: center;
                    border-radius: 10px;
                    height: 25px;
                    width: 50%;
                    font-size: 15px;
                    margin: 0;
                }
            }
        }
        .edit {
            flex: 0 1 30%;
            text-align: center;
            width: 30%;
            margin: 10px;
            .edit-ingredients,
            .edit-instructions {
                font-weight: 400;
                margin: 20px;
            }
            .fas {
                color: green;
            }
            .far {
                color: #C33F3F;
            }
            input {
                border-radius: 10px;
                height: 25px;
                width: 70%;
                font-size: 15px;
                margin-right: 40px;
            }
        }
    }
    .modal-edit-item {
        display: none;
        z-index: 10000;
        overflow-y: hidden;
        position: fixed;
        background-image: linear-gradient(to bottom right, #413C35, #413C35);
        top: 0;
        opacity: .8;
        height: 100%;
        width: 100%;
        .edit-item {
            text-align: center;
            margin: 15% auto;
            #edit-items {
                width: 50%;
                height: 200px;
                line-height: 30px;
                font-size: 1em;
                opacity: 1;
                border-radius: 10px;
                margin-bottom: 20px;
            }
            h1 {
                color: white;
            }
            .modal-save {
                background: #93C461;
            }
            .modal-clear {
                background: #C33F3F;
            }
        }
    }
    .modal-edit-item-show {
        display: block;
    }
}

.show {
    display: block;
    height: inherit;
    width: 100%;
    background-color: rgba($color: #ffffff, $alpha: 0.9);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
}

.instruction,
.ingredient {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    span {
        flex: 1 0 60%;
        display: inline-block;
        overflow: auto;
        margin: 5px 0;
    }
    p {
        flex: 1 0 60%;
        overflow-wrap: break-word;
        width: 40%;
        margin: 0;
        margin: 5px 0;
    }
    i {
        margin: 5px;
    }
}

@media (max-width: 992px) {
    .modal {
        font-size: 13px !important;
    }
}

@media (max-width: 768px) {
    .modal {
        .modal-content {
            .edit {
                flex: 1 1 100%;
            }
        }
    }
}