
#header {
    font-family: 'Lobster', cursive;
    background: #93C461;
    // flex: 0 1 10%;
    font-size: 35px;
    color: white;
    padding: 5px;
    position: fixed;
    top: 0;
    z-index: 10000;
    width: 100%;
    
    nav {
        margin-left: 50px;
    }
}